$spacing-tiny: 12px;
$spacing-xs: 24px;
$spacing-sm: 34px;
$spacing-med: 54px;
$spacing-lg: 72px;
$spacing-xl: 102px;

// hide non-keyboard focus styles
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $mainColor;
    margin: 8px 0 10px;
    padding: 0;
}

.primary-content {
    margin-top: 92px;
    
    @media (min-width: $mobile-break){
        margin-top: 275px;
    }

    @media (min-width: $first-break){
        margin-top: 155px;
    }

    &__modules {
        position: relative;
        overflow: hidden;
    
        &:after,
        &:before {
            position: absolute;
            z-index: -2;
            opacity: .6;
        }
    
        &:before {
            content: url('assets/images/cp-bottom-watermark.png');
            top: -#{$spacing-med};
            left: 0;
            transform: rotateX(180deg);
        }
    
        &:after {
            content: url('assets/images/cp-top-watermark.png');
            bottom: -#{$spacing-med};
            right: 0;
        }
    }

    .home &__modules:after {
        right: initial;
        left: 0;
        transform: rotateY(180deg);
    }
}

body.home {
    .large-callout {
        position: relative;
    }
    .large-callout:after {
        content: url('assets/images/cp-top-watermark.png');
        position: absolute;
        z-index: -2;
        opacity: .6;
        bottom: -#{$spacing-med};
        right: 0;
    }
}

body.page-services {
    .section-wrap.columns:nth-of-type(even) {
        .columns__row {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}