.standard-callout {
    &__container {
        @media (max-width: $mobile-break-max){
            padding: 0;
        }
    }

    &__wrap {
        position: relative;
        background: rgb(212,216,245);
        background: linear-gradient(90deg, rgba(212,216,245,1) 0%, rgba(255,255,255,1) 50%, rgba(212,216,245,1) 100%);
        padding: $spacing-sm $spacing-tiny;
        text-align: center;

        @media (min-width: $mobile-break){
            padding: $spacing-sm $spacing-tiny;
            clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
        }

        a {
            @extend .h2;
            display: block;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;

        }
    }
}
